

body{
    background-color: #e6e6ff;
    font-style: unset;
}
 .head{
    background-color: #ffe5cc ;
    font-size: 20px;
  }
  
  .first{

   
 position: sticky;
 background-color: white;
 position: relative;
height: 60px;
    
  }
  .ll{
   position: sticky;
  position: absolute;
   margin-left: 100px;
   top: 10px;
   }
   .kk{
  
 position: absolute;
    margin-left: 150px;
    font-size: 20px;
   }
   .jj{
   
  position: absolute;
    margin-left: 600px;
    font-size:20px ;
   }
 
.second{
    position: relative;
 
    height: 400px;

}
.my{
    position: absolute;
    height: 370px;
    width: 450px;
    color: #0080ff;
    margin-left: 150px;
    border-radius: 20px;
}
.aa{
    position: relative;
    font-size: 50px;
    margin-left: 700px;
    top: 10px;
    
}
.ss{
    position: relative;
    font-size: 30px;
    margin-left: 700px;
   bottom:40px ;
}
.dd{
    position: relative;
font-size: 15px;
    margin-left: 700px;
    bottom: 40px;
    background-color: black;
    color: beige;
    height: 50px;
    width:150px ;
    border-style: solid;
    border-radius: 5px;
}
.ff{
     position: relative;
     margin-left: 900px;
     background-color:rgba(255, 196, 0, 0.808);
     color:black;
     height: 50px;
     width:110px ;
     border-style: solid;
     border-radius: 5px;
     border-color: yellow;
     bottom: 90px;
}

.third{
 
    height: 400px;
}
.me{
position: absolute;
height: 300px;
width: 350px;
right: 100px;
border-radius: 10px;
}
.zz{
    position:relative;
    margin-left:100px;
    
}
.xx{
    position:relative;
    margin-left:100px;
    bottom: 10px;
}
.jyo{
    position: absolute;
    background-color:white;
    height:120px;
    width: 340px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin-left: 100px;
    box-shadow:0px 0px 1px blue;
   
}
.meet{
    position: absolute;
    height: 50px;
    width: 60px;
    margin-left: 10px;
    top: 10px;
    border-radius: 5px;
  
}
.c{
position: relative;
 top: 50px;
margin-left: 10px;
 
}

.ti{
    position: absolute;
    height: 120px;
    width: 340px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    box-shadow:0px 0px 1px blue;
   margin-top: 140px;
   margin-left: 100px;
   }
   .book{
    position: absolute;
    height: 50px;
    width: 60px;
    margin-left: 10px;
    top: 10px;
   }

.d{
position: relative;
top: 50px;
margin-left: 10px;
}
.f{
    position: absolute;
    height: 120px;
    width: 340px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    box-shadow:0px 0px 1px blue;
   margin-top: 140px;
   margin-left: 460px;
   }

   .video{
    position: absolute;
    height: 50px;
    width: 60px;
    margin-left: 10px;
    top: 10px;
   }
   .m{
position: relative;
top: 50px;
margin-left: 10px;
}

.x{
    position: absolute;
    background-color:white;
    height:120px;
    width: 340px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin-left: 460px;
    box-shadow:0px 0px 1px blue;
   
}
.folder{
    position: absolute;
    height: 50px;
    width: 60px;
    margin-left: 10px;
    top: 10px;
}
.y{
position: relative;
top: 50px;
margin-left: 10px;
}


.four{
position: absolute;
height: 800px;
}

.g{
position: relative;
background-color:white;
        border-style: solid;
        border-radius: 5px;
        border-color:white;
        height: 430px;
        width: 300px;
        display:inline-block;
        box-shadow:0px 5px 1px 0.1px  #0080ff;
        margin: 50px;
        padding:3px;
        margin-right: 5px;
        left: 20px;
        
}

.u{
border-radius: 10px;
border-style: solid;
background-color: black;
color: white;
height: 25px;
width: 120px;
text-align: center;

padding-top: 5px;
}
.five{
position: relative;
height: 500px;

margin-top: 1200px;
}

.w{
position: absolute;
height: 350px;
width: 600px;
margin-left: 380px;
box-shadow: 0px 0px 10px black;

border-radius:10PX ;
border-color: azure;

}
.six{
position: relative;

height: 330px;
}
 .sel{
    position: absolute;
    background-color: white;
    height:50px;
    width: 1100px;
    margin-left: 120px;

 }
 .sea{
    position: absolute;
    background-color: white;
    height:50px;
    width: 1100px;
    margin-left: 120px;
  top: 145px;

 }
 .ses{
    position: absolute;
    background-color: white;
    height:50px;
    width: 1100px;
    margin-left: 120px;
    top: 198px;

 }
 .sed{
    position: absolute;
    background-color: white;
    height:50px;
    width: 1100px;
    margin-left: 120px;
    top: 252px;

 }
 .op{
    position: absolute;
    right: 10px;
    height: 20px;
    width: 40px;
 }
 .seven{
   position: relative;
   
    height: 330px;
 }
 .link{
    position: absolute;
    height:120px;
    width: 120px;
    bottom:80px;
    box-shadow: 0px 0px 10px black;
    border-radius: 60px;
    margin-left: 150px;
 }
 .you{
    position: absolute;
    height:120px;
    width: 120px;
    bottom:80px;
    box-shadow: 0px 0px 10px black;
    border-radius: 60px;
    margin-left: 430px;
 }
 .insta{
    position: absolute;
    height:120px;
    width: 120px;
    bottom:80px;
    box-shadow: 0px 0px 10px black;
    border-radius: 60px;
 margin-left: 700px;
 }
 .git{
    position: absolute;
    height:120px;
    width: 120px;
    bottom:80px;
    box-shadow: 0px 0px 10px black;
    border-radius: 60px;
right: 190px;
 }
 .eight{
    position: relative;
    background-color:#000017;
    height: 350px;
 }
 .ssss{
    position: absolute;
    height: 60px;
    width: 60px;
    margin-left: 50px;
    top: 40px;

 }
 .sa{
    position: absolute;
    top: 25px;
    margin-left: 120px;
    color: #e6e6ff;
 }
 .sb{
    position: absolute;
    top: 90px;
    margin-left: 50px;
    color: #e6e6ff;
    font-size: 20px;
 }
 .sc{
    position: absolute;
   color: #e6e6ff;
   margin-left: 400px;
   top: 25px;
  
   
 }
 .sd{
    position: absolute;
    color: #e6e6ff;
   margin-left: 400px;
   top:90px;
   font-size: 20px;
 }
 .scc{
    position: absolute;
   color: #e6e6ff;
   margin-left: 700px;
   top: 25px;
 }
 .ssc{
    position: absolute;
    color: #e6e6ff;
   margin-left: 700px;
   top:90px;
   font-size: 20px;

 }
 .sccc{
    position: absolute;
   color: #e6e6ff;
   margin-left: 1000px;
   top: 25px;
 }
 .sscc{
    position: absolute;
    color: #e6e6ff;
   margin-left: 1000px;
   top:90px;
   font-size: 20px;

 }


